<form action="" method="post">

   <span>Nome :</span>
    <input type="text" name="nome" id="nome" class="form-control" placeholder="Digite seu nome" required>
    <span>Email :</span>
    <input type="email" name="email" id="email" class="form-control" placeholder="Digite seu email" required>
    <span>telefone</span>

    <input type="tel" name="telefone" id="telefone" class="form-control" placeholder="Digite seu telefone" required>

    <section class="buttons">
        <button type="button" class="btn btn-primary controle" value="cadastar">cadastrar</button>
        <button type="button" class="btn btn-warning controle" value="atualizar">atualizar</button>  
        <button type="button" class="btn btn-secondary controle" value="remover">removeer</button>
        
        <button type="button" class="btn btn-danger controle">excluir</button>
    </section>
    
  </form>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tbody id="tabela">
      <!-- Os dados serão inseridos aqui dinamicamente -->
        <tr>
            
            <td>João</td>
            <td>João</td>
            <td>João</td>

    </tbody>
  </table>