<div class="container-principal">
  <form action="" method="post">
    <img src="assets/foto.webp" alt="Foto de perfil">  
    <article>
      <label>Nome:</label>   
      <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required [(ngModel)]="cliente.nome">

      <label>Email:</label>  
      <input type="email" name="email" id="email" placeholder="Digite seu email" required [(ngModel)]="cliente.email">

      <label>Telefone:</label> 
      <input type="tel" name="telefone" id="telefone" placeholder="Digite seu telefone" required [(ngModel)]="cliente.telefone">
    </article>

    <section class="buttons">
      <button type="button" *ngIf="!btnCadastro" class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
      <button type="button" *ngIf="btnCadastro" class="btn btn-warning" (click)="aleterar()">Atualizar</button>
      <button type="button" *ngIf="btnCadastro" class="btn btn-secondary" (click)="deletar()">Remover</button>
      <button type="button" *ngIf="btnCadastro" class="btn btn-danger" (click)="cancancelar()">Cancelar</button>
    </section>
  </form>

  <table class="table table-striped table-bordered" *ngIf="tabela">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of clientes; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.email }}</td>
        <td>{{ pessoa.telefone }}</td>
        <td>
          <button class="btn btn-success" (click)="selecionarCliente(i)">Selecionar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
